/* CSS Document - FRONT-END */

/* ====================================================================================================================== */
/* FRAMEWORK                                                                                                              */
/* ====================================================================================================================== */
	
	
/*  TRUCOS DE CSS DEVELOPER  ======================== */

.fltlft {float:left;}
.fltrght {float:right;}

.textAlignCenter{text-align:center;}
.textAlignRight{text-align:right;}
.textAlignLeft{text-align:left;}


/*  / CARL ======================== */



/* CSS Document - CSS Typography Mashup by Carl Johansson (@lo_kal) */




/* ADD CODE, PRE, SMAPEL, XMP ETC ETC ETC */
/*

CSS FILE FOR TYPOGRAPHYS...

h headings

p ....

then, 

cursive

pre/code stuff

superscript, subscript ewtc

*/


/** Text / TEXT FORMAT **/
b, strong, .s {font-weight: bolder;} /* VS bold ... */
i, em, .i {font-style: italic;}



/*  TEXT: ANCHORS ======================== */
a {
color : #cc1122;
/*
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
*/
}
a:visited {color:#ee3344; }
a:focus {outline:thin dotted; color:rgb(0,0,0);}
a:hover, a:active {outline:0; color:#dd2233;}




/*  TEXT - PARAGRAPHS ======================== */

p { }

/* CSS HYPHENATION */
p {
-webkit-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
}


/*  Typography - Paragraphs ======================== */



/*  TEXT: TYPES OF PARAGRAPHS ======================== */

p.introtext {
font-family:  MuseoSlab100, 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif;
font-size : 2.5em; /* 40 / 16 */
color: #333;
line-height: 1.4em;
letter-spacing: -1px;
margin-bottom: 0.5em;
}

p.handwritten {
font-family:  HandSean, 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif; 
font-size: 1.375em; /* 24 / 16 */
line-height: 1.8em;
margin-bottom: 0.3em;
color: #666;
}





p.center {text-align:center;}

/*  CARL ======================== */

p.uppercase {text-transform:uppercase;}
p.lowercase {text-transform:lowercase;}
p.capitalize {text-transform:capitalize;}

/* and do sth perhaps for p's firts line and first word stufff */

/* and alsoi study to add wordrap no wrap and ellipsis and all that junk !!!!!!!!!!!!! */

p.left {text-align:left;}
p.center {text-align:center;}
p.right {text-align:right;}
p.justify {text-align:justify;}




/*  TEXT: TEXT MANIPULATE ======================== */
.txtL {text-align:left;}
.txtR {text-align:right;}
.txtC {text-align:center;}

.txtUC {text-transform: uppercase;}
.txtCAP {text-transform: capitalize;}





/*  TEXT: GENERAL TYPOGRAPHY ======================== */

.name {font-variant:small-caps; text-transform:capitalize;}	/* SHOULD BE A CLASS !!!!!!!!!!!!!!!!!!!!!! */


