/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Sass
 * File: Layout
 */



body {
	background-color: $c_white; 
  }


#page {
	
	}

	header, footer {
		background-color: $c_primary;  
		}
	
		
.frame { 
	@include centered;
	max-width:1024px;
	min-width:320px; 
	@include paddingh($spacing);	
  } 			
	
	
	
@media only screen and (max-width: $bp_m) { 

.frame { 
	@include paddingh($spacing05);	
  } 
		
					
} // MEDIA-QUERY	