/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Sass
 * File: Typography
 */


/* 
 * SASS - VARIABLES - FONTS - "IMPORT" GOOGLE FONTS
 */
@mixin f_roboto { // regular
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
	}
		@mixin f_roboto_italic {
			@include f_roboto;
			font-style: italic;
			}
	
	@mixin f_roboto_light {
		font-family: 'Roboto', Arial, sans-serif;
		font-weight: 300;
		}	
		@mixin f_roboto_light_italic {
			@include f_roboto_light;
			font-style: italic;
			}					
	@mixin f_roboto_bold {
		font-family: 'Roboto', Arial, sans-serif;
		font-weight: bold;
		// font-weight: 700;
		}






@mixin f_main { // CMS MAIN FONT - for body tag 
    @include f_roboto;
    }		
		
@mixin f_inputs { // FORM - INPUTS
    @include f_roboto_light;
    }

@mixin f_placeholders { // FORM - INPUT PLACEHOLDERS
		@include f_roboto_light_italic;
    }
    ::-webkit-input-placeholder {@include f_placeholders;}
    ::-moz-placeholder {@include f_placeholders;}
    :-ms-input-placeholder {@include f_placeholders;}
    input:-moz-placeholder {@include f_placeholders;} 	
		
		
		
		
		
	
/*  TEXT: FONTS (font-face declarations) ======================== */


html, body {
	@include f_main;  
  }




p {
	margin-bottom: $spacing;	
	}



a, 
a:visited, 
a:hover {
	text-decoration:none; 
	color:#000; 
	}
	

h1, h2 {
	font-weight: normal;
	font-weight: 300; // light
	}


/* METER AQUI LO DEL CODE TAG !!!!!!!!!!!! */

pre {
 // color: #fff;   
    
    
// background-color: $color3;
// background-color: lighten($color3,5%);
    
    
    
// border:3px solid $color2;
// padding: $spacing05;
// @include paddingh($spacing05);
// width:100%;
    /*
	-webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
	-moz-box-sizing: border-box;    // Firefox, other Gecko 
	box-sizing: border-box;         // Opera/IE 8+
    */
    
/* border-radius:10px 30px; */
 
// border-radius:10px 30px;
    
// 1st solution
// overflow-x: scroll;    
    // overflow-x: aut0; 

// 2nd solution:  - http://css-tricks.com/snippets/css/make-pre-text-wrap/    
   
/*   
white-space: pre-wrap;       // css-3 
 white-space: -moz-pre-wrap;  // Mozilla, since 1999 
 white-space: -pre-wrap;      // Opera 4-6 
 white-space: -o-pre-wrap;    // Opera 7 
 word-wrap: break-word;       // Internet Explorer 5.5+ 
*/  
    
    
// 3rd solution: - http://alexgorbatchev.com/SyntaxHighlighter/
    
// margin-bottom:25px;		
}




		