/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Sass
 * File: Content
 */
	
main {
	@include paddingv($spacing2);
	
	.inner {
		
		}
	
	}	// main





#frontWrapper_headerMega {
	margin-bottom: $spacing;
	font-size: $fs_xxxl;
	color: $c_text;
	}
	

	
	
	

main section {
	margin-bottom: $spacing2;

	.title {
			color: $c_text_2;
			font-size: $fs_xxl;
			margin-bottom: $spacing05;
			}
    	
	.content {
		/*
		font-size: $fs_m;

		a {
			color: $color2; 
			font-weight:bold;
			a:hover {text-decoration:underline;}					
			} // a	
		
		*/
					
		} // content
    
    
    
	} // section	
	

	
		
	



@media only screen and (max-width: $bp_l) { 



			
} // MEDIA-QUERY

