/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Sass
 * File: Footer
 */
 
footer {
	overflow:hidden;
	
	.inner {
		overflow:hidden;
		padding: $spacing05;
		// text-align:right;  
		text-align: center;    
    color:#fff;		
		}
			
	} // footer


		.footerContent {
			// font-size: $fs_l;
			font-size: $fs_m;
			
			span {font-size: $fs_m;}
			
			
			img {
				width: 86px;
				vertical-align: middle;
				}
				
			} // footerContent			