/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Sass
 * File: GLOBAL
 */
/* COMPASS */
/* BASE */
/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Sass
 * File: Reset
 */
/* BOX MODEL */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_reset\.scss}line{font-family:\000039}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Sass - Compass */
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_reset\.scss}line{font-family:\0000322}}
html, body,
div, span,
h1, h2, h3, h4, h5, h6,
p,
pre, code,
img,
dl, dt, dd,
ol, ul, li,
img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  /* for headings, works */
  font-weight: normal;
  /* for headings, works */
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_reset\.scss}line{font-family:\0000332}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_reset\.scss}line{font-family:\0000334}}
img {
  max-width: 100%;
  height: auto;
}

/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Sass
 * File: Sass style
 */
/* 
 * VARIABLES - Colors - 1st level - semantic
 */
/* white */
/* 
 * VARIABLES - Font-Size
 */
/* Variables - font families */
/* BASE per tota la web / text menys important */
/* 1a TIPUS ESPECIAL */
/* BASE per tota la web / text menys important */
/* 1a TIPUS ESPECIAL */
/* CREATE MIXIN for rem fontsize and px fallback solution */
/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Sass
 * File: Sass layout
 */
/* 
 * VARIABLES - Break-points
 */
/* 
 * VARIABLES - Spacing
 */
/* SPACINGS */
/*
@mixin spacing($anyth)  {
	margin-bottom: $baseSpacing x $anyth;
	}
*/
/* 
 * MIXINS - LAYOUT - Responsive
 */
/* START - CLEARFIX */
/* apply clearfix to parent */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_sass_layout\.scss}line{font-family:\0000369}}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_sass_layout\.scss}line{font-family:\0000377}}
* html .clearfix {
  zoom: 1;
}

/* IE6 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_sass_layout\.scss}line{font-family:\0000378}}
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/*/END - CLEARFIX */
/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Sass
 * File: Typography
 */
/* 
 * SASS - VARIABLES - FONTS - "IMPORT" GOOGLE FONTS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000350}}
::-webkit-input-placeholder {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000351}}
::-moz-placeholder {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000352}}
:-ms-input-placeholder {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000353}}
input:-moz-placeholder {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
}

/*  TEXT: FONTS (font-face declarations) ======================== */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000363}}
html, body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000370}}
p {
  margin-bottom: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000378}}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000384}}
h1, h2 {
  font-weight: normal;
  font-weight: 300;
}

/* METER AQUI LO DEL CODE TAG !!!!!!!!!!!! */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000392}}
pre {
    /*
	-webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
	-moz-box-sizing: border-box;    // Firefox, other Gecko 
	box-sizing: border-box;         // Opera/IE 8+
    */
  /* border-radius:10px 30px; */
  /*   
  white-space: pre-wrap;       // css-3 
   white-space: -moz-pre-wrap;  // Mozilla, since 1999 
   white-space: -pre-wrap;      // Opera 4-6 
   white-space: -o-pre-wrap;    // Opera 7 
   word-wrap: break-word;       // Internet Explorer 5.5+ 
  */
}

/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Sass
 * File: Layout
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_layout\.scss}line{font-family:\000039}}
body {
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_layout\.scss}line{font-family:\0000318}}
header, footer {
  background-color: #673ab7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_layout\.scss}line{font-family:\0000323}}
.frame {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  min-width: 320px;
  padding-left: 24px;
  padding-right: 24px;
}

@media only screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/base\/_layout\.scss}line{font-family:\0000334}}
  .frame {
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* COMPONENTS */
/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Sass
 * File: Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_header\.scss}line{font-family:\000037}}
header {
  border-top: 24px solid #512da8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_header\.scss}line{font-family:\0000310}}
header .inner {
  padding: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: hidden;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_header\.scss}line{font-family:\0000320}}
#main_logo {
  float: left;
  font-size: 34px;
  color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_header\.scss}line{font-family:\0000327}}
#slogan {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 20px;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_header\.scss}line{font-family:\0000334}}
#slogan a {
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_header\.scss}line{font-family:\0000336}}
#slogan a:hover {
  color: #e040fb;
}

@media only screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_header\.scss}line{font-family:\0000346}}
  #main_logo {
    float: none;
    text-align: center;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_header\.scss}line{font-family:\0000350}}
  #slogan {
    position: relative;
    text-align: center;
    bottom: 3px;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_header\.scss}line{font-family:\0000365}}
  #slogan span {
    display: block;
  }
}
/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Sass
 * File: Footer
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_footer\.scss}line{font-family:\000037}}
footer {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_footer\.scss}line{font-family:\0000310}}
footer .inner {
  overflow: hidden;
  padding: 12px;
  text-align: center;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_footer\.scss}line{font-family:\0000321}}
.footerContent {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_footer\.scss}line{font-family:\0000325}}
.footerContent span {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_footer\.scss}line{font-family:\0000328}}
.footerContent img {
  width: 86px;
  vertical-align: middle;
}

/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Sass
 * File: Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_content\.scss}line{font-family:\000037}}
main {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_content\.scss}line{font-family:\0000320}}
#frontWrapper_headerMega {
  margin-bottom: 24px;
  font-size: 48px;
  color: #212121;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_content\.scss}line{font-family:\0000331}}
main section {
  margin-bottom: 48px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_content\.scss}line{font-family:\0000334}}
main section .title {
  color: #727272;
  font-size: 34px;
  margin-bottom: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Sass\/assets\/scss\/components\/_content\.scss}line{font-family:\0000340}}
main section .content {
  		/*
  		font-size: $fs_m;
  
  		a {
  			color: $color2; 
  			font-weight:bold;
  			a:hover {text-decoration:underline;}					
  			} // a	
  		
  		*/
}
